<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>收集</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="css/element.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div id="app">
    <el-form ref="form" :model="form" label-width="80px">
      <el-form-item label="抬头">
        <el-input v-model="form.title" placeholder="请输入抬头"></el-input>
      </el-form-item>
      <el-form-item label="地区">
        <el-select class="select" v-model="form.areaCode" filterable placeholder="请选择地区">
          <el-option v-for="item in options" :key="item.areaCode" :label="item.areaName" :value="item.areaCode">
        </el-select>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="getTableData">搜索</el-button>
        <el-button class="edit" type="primary" icon="el-icon-edit" circle @click="showForm" style="margin-right: 36px;">
        </el-button>
      </el-form-item>
    </el-form>
    <!-- 新增弹窗 -->
    <template>
      <el-dialog :title="title" :visible.sync="dialogFormVisible">
        <el-form :model="add_form">
          <el-form-item label="序号" :label-width="formLabelWidth">
            <el-input v-model="add_form.recordId" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="地区" :label-width="formLabelWidth">
            <el-select class="select" v-model="add_form.areaCode" filterable placeholder="请选择活动区域">
              <el-option v-for="item in options" :key="item.areaCode" :label="item.areaName" :value="item.areaCode">
            </el-select>
          </el-form-item>
          <el-form-item label="抬头" :label-width="formLabelWidth">
            <el-input v-model="add_form.title" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="联系人" :label-width="formLabelWidth">
            <el-input v-model="add_form.name" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="电话" :label-width="formLabelWidth">
            <el-input v-model="add_form.phone" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="地址" :label-width="formLabelWidth">
            <el-input v-model="add_form.address" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="金额" :label-width="formLabelWidth">
            <el-input v-model="add_form.amount" autocomplete="off"></el-input>
          </el-form-item>
          <el-form-item label="有效时间" :label-width="formLabelWidth">
            <el-date-picker class="select" v-model="add_form.effectiveTime" type="datetime" placeholder="选择日期时间"
              default-time="12:00:00">
            </el-date-picker>
          </el-form-item>
          <el-form-item label="图片" :label-width="formLabelWidth">
            <!-- <el-input v-model="add_form.picture" autocomplete="off" ></el-input> -->
            <el-upload class="upload-demo" action="http://127.0.0.1:8080/upload/uploadPicture" :on-remove="handleRemove"
              :on-success="uploadSuccess" :file-list="fileList" list-type="picture">
              <el-button size="small" type="primary">点击上传</el-button>
              <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
            </el-upload>
          </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialogFormVisible = false">取 消</el-button>
          <el-button v-if="insertType" type="primary" @click="insertRecord">确 定</el-button>
          <el-button v-if="updateType" type="primary" @click="updateRecord">确 定</el-button>
        </div>
      </el-dialog>
    </template>
    <template>
      <el-table :data="tableData" border stripe style="width: 100%">
        <el-table-column prop="recordId" label="序号" sortable width="75">
        </el-table-column>
        <el-table-column prop="areaName" label="地区">
        </el-table-column>
        <el-table-column prop="title" label="抬头">
        </el-table-column>
        <el-table-column prop="name" label="联系人">
        </el-table-column>
        <el-table-column prop="phone" label="电话">
        </el-table-column>
        <el-table-column prop="address" label="地址">
        </el-table-column>
        <el-table-column prop="amount" label="金额" sortable>
        </el-table-column>
        <el-table-column prop="effectiveTime" label="有效期止" width="180">
        </el-table-column>
        <el-table-column label="图片" width="120">
          <template slot-scope="scope">
            <el-button @click="handleClick(scope.row.picture)" type="text" size="small">查看</el-button>
            <el-button @click="showUpdateForm(scope.row)" type="text" size="small">编辑</el-button>
            <i @click="deleteRecord(scope.row.id)" class="el-icon-delete"></i>
            <el-dialog title="图片" :visible.sync="dialogVisible" width="65%" :before-close="handleClose">
              <template>
                <el-carousel :interval="4000" type="card">
                  <el-carousel-item v-for="item in pictures" :key="item">
                    <img :src="item.picture">
                  </el-carousel-item>
                </el-carousel>
              </template>
              <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogVisible = false">确 定</el-button>
              </span>
            </el-dialog>
          </template>
        </el-table-column>
      </el-table>
      <template>
        <div class="block">
          <el-pagination @size-change="handleSizeChange" @current-change="handleCurrentChange" :current-page="form.page"
            :page-sizes="pageSizes" :page-size="form.pageSize" layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </template>
    </template>
  </div>
</body>
<script src="js/vue.min.js"></script>
<script src="js/vue-lazyload.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/data.js"></script>

</html>