<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="me.lv.record.dao.RecordDao">
    <resultMap id="resultMap" type="me.lv.record.entity.RecordDO">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="record_id" property="recordId" jdbcType="INTEGER" />
        <result column="region" property="region" jdbcType="VARCHAR" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="picture" property="picture" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="base_column">
        id,record_id,area_code,title,name,phone,address,amount,picture,effective_time,create_time,update_time
    </sql>

    <select id="getRecordByTitle" parameterType="String" resultMap="resultMap">
        SELECT
          <include refid="base_column"/>
        FROM
          record
        WHERE
          title = #{title}
    </select>

    <select id="listRecords" resultType="me.lv.record.entity.dto.RecordDTO" parameterType="me.lv.record.entity.dto.SearchDTO">
        <bind name="pattern" value="'%' + title + '%'" />
        SELECT
        r.id as id,
        r.area_code as areaCode,
        r.record_id as recordId,
        (SELECT area_name from area a where a.area_code = r.area_code) as areaName,r.title,r.name,r.phone,r.address,r.amount,r.picture,DATE_FORMAT(r.effective_time, '%Y-%m-%d %h:%m:%s') as effectiveTime
        from record r
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="title != null and title != ''">
                and r.title like #{pattern}
            </if>
            <if test="areaCode != null and areaCode != ''">
                and r.area_code = #{areaCode}
            </if>
        </trim>
    </select>

    <insert id="insertRecord" parameterType="me.lv.record.entity.dto.InsertRecodeDTO">
        INSERT INTO record (record_id,area_code,title,name,phone,address,amount,picture,effective_time)
        VALUES (#{recordId},#{areaCode},#{title},#{name},#{phone},#{address},#{amount},#{picture},#{effectiveTime})
    </insert>
    
    <update id="updateRecord" parameterType="me.lv.record.entity.dto.UpdateRecordDTO">
        UPDATE
          record
        SET
          record_id = #{recordId},
          area_code = #{areaCode},
          title = #{title},
          name = #{name},
          phone = #{phone},
          address = #{address},
          amount = #{amount},
          picture = #{picture},
          effective_time = #{effectiveTime}
        WHERE
          id = #{id}
    </update>

    <delete id="deleteRecord" parameterType="Integer">
        delete from record where id = #{id}
    </delete>

</mapper>